@page
@model Iportfilo.Pages.myadmin.editstdModel
@{
}
<div class="container">
    <form method="post">
        <div class="row" justify-content-center>
            <div class="col-md-6" justify-content-center>
                <h1>
                    Update Education
                </h1>
            </div>
        </div>
        <div class="row" justify-content-center>
            <div class="col-md-6" justify-content-center>
                <label class="form-label">Degree</label>
                <input class="form-control" asp-for="education.Degree">
                <input class="form-control" hidden asp-for="education.Id">
            </div>
        </div>
        <div class="row" justify-content-center>
            <div class="col-md-6" justify-content-center>
                <label class="form-label">startyear</label>
                <input class="form-control" asp-for="education.startyear">
            </div>
        </div>
        <div class="row" justify-content-center>
            <div class="col-md-6" justify-content-center>
                <label class="form-label">endyear</label>
                <input class="form-control" asp-for="education.endyear">
            </div>
        </div>
        <div class="row" justify-content-center>
            <div class="col-md-6" justify-content-center>
                <label class="form-label">InsistueName</label>
                <input class="form-control" asp-for="education.InsistueName">
            </div>
        </div>
        <div class="row" justify-content-center>
            <div class="col-md-6" justify-content-center>
                <input type="submit" value="Update Education" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>