@page
@model Iportfilo.Pages.myadmin.IndexportModel
@{
}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    Profile
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <label class="form-label"> Name </label>
                <input class="form-control" asp-for="iportfiloes.Name" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <label class="form-label"> Birthday </label>
                <input class="form-control" asp-for="iportfiloes.Birthday" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <label class="form-label"> Website </label>
                <input class="form-control" asp-for="iportfiloes.Website" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <label class="form-label"> Age </label>
                <input class="form-control" asp-for="iportfiloes.Age" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <label class="form-label"> PhoneNo </label>
                <input class="form-control" asp-for="iportfiloes.PhoneNo" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <label class="form-label"> Email </label>
                <input class="form-control" asp-for="iportfiloes.Email" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <label class="form-label"> Address </label>
                <input class="form-control" asp-for="iportfiloes.Address" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <label class="form-label"> City </label>
                <input class="form-control" asp-for="iportfiloes.City" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <label class="form-label"> Freelancer </label>
                <input class="form-control" asp-for="iportfiloes.Freelancer" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <label class="form-label"> Degree </label>
                <input class="form-control" asp-for="iportfiloes.Degree" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 justify-content-center">
                <label class="form-label"> Image </label>
                <input class="form-control" asp-for="iportfiloes.Photo" />
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Add Profile" class="btn btn-primary" />
        </div>
    </form>
</div>